---
import { SITE, BLOG } from '~/config.mjs'

import Layout from '~/layouts/BlogLayout.astro'
import BlogList from '~/components/blog/List.astro'
import Pagination from '~/components/atoms/Pagination.astro'

import { fetchPosts } from '~/utils/posts'
import { getCanonical, getPermalink, BLOG_BASE } from '~/utils/permalinks'

export async function getStaticPaths({ paginate }) {
	if (BLOG?.disabled || BLOG?.blog?.disabled) return []

	const posts = await fetchPosts()

	return paginate(posts, {
		params: { blog: BLOG_BASE || undefined },
		pageSize: BLOG.postsPerPage,
	})
}

const { page } = Astro.props
const currentPage = page.currentPage ?? 1

const meta = {
	title: `Laboratory ${currentPage > 1 ? `— ${currentPage} ` : ''}— ${SITE.name}`,
	description: SITE.description,
	canonical: getCanonical(getPermalink(page.url.current)),
	ogType: 'Laboratory',
	noindex: currentPage > 1,
}
---

<Layout {meta}>
	<Fragment slot="title">
		<span class="font-display lg:text-6xl text-2xl text-center uppercase tracking-tight text-oranged"
			>{meta.ogType}
		</span>
	</Fragment>
	<BlogList posts={page.data} />
	<Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
</Layout>
